@media screen and (max-width: 1280px) {
    .intro .intro__content-desc {
        padding: 54px 66px 0 40px;
    }
}

@media screen and (max-width: 1180px) {
    ._title {
        font-size: 35px;
        line-height: 50px;
    }

    .intro .intro__content-pic .piccc {
        width: 126%;
        position: relative;
        right: 13%;
    }

    .portfolio__cards .portfolio__card-desc {
        max-width: 200px;
        padding: 10px;
    }

    .portfolio__cards .portfolio_card-header {
        font-size: 12px;
    }

    .portfolio__cards .portfolio_card-title {
        font-size: 14px;
    }

    .portfolio__cards .portfolio_card-text {
        font-size: 9px;
    }

    .prices__card .reverse {
        font-size: 18px;
        max-width: 200px;
    }

    .prices_card-list {
        font-size: 12px;
    }

    .list-step {
        font-size: 12px;
    }

    .list-step:first-of-type {
        margin-top: 15px;
    }

    .list-step-desc {
        font-size: 12px;
    }

    .prices_card-list .list-item::before {
        font-size: 12px;
    }

    .goal-title {
        font-size: 35px;
        line-height: 40px;
    }

    .goal-desc {
        font-size: 14px;
        line-height: 25px;
    }

    .card_text {
        font-size: 12px;
        line-height: 20px;
    }

    .review_card-link {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .header__burger {
        display: block;
    }

    .header .menu__wrapper {
        width: 100%;
        height: calc(100% - 90px);
        position: fixed;
        top: 90px;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 11;
        transition: linear .2s;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        opacity: 0;
        visibility: hidden;
        font-size: 18px;
    }

    .header .menu_list {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 70%;
        background-color: white;
        padding-top: 40px;
        padding-left: 30px;
    }

    .menu_list .menu-item {
        margin-bottom: 4vh;
        color: #009FE3;
        font-weight: 500;
    }

    .menu_list .menu-link {
        padding: 5px 0;
    }

    .menu-btn-wrapper {
        width: 70%;
        position: relative;
        background-color: white;
        padding-left: 30px;
        margin-left: 0;
    }

    .menu-btn {
        display: inline-block;
        margin-bottom: 7vh;
        position: relative;
    }

    .menu-btn-wrapper:after {
        content: "";
        position: absolute;
        width: 70%;
        height: 1px;
        background-color: #009FE3;
        bottom: 4vh;
        left: 0;
    }

    .menu-phone {
        display: none;
    }

    .menu-list-social-wrapper {
        display: block;
        width: 70%;
        background-color: white;
        padding-bottom: 13vh;
    }

    .intro .intro__content {
        min-width: 90%;
    }

    .intro .intro__content-text:nth-child(2) {
        display: none;
    }

    .message-text {
        font-size: 14px;
        line-height: 25px;
    }
}
