.header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%; }
		.header__top-line {
				display: flex;
				justify-content: space-between;
				align-items: center; }
		.header__logo {
				flex: 0 1 150px;
				height: 50px; }
				.header__logo img {
						width: 100%; }
