.order {
		padding-top: 60px; }
		.order .container {
				display: flex;
				justify-content: space-between; }
		.order__img {
				height: 100%;
				flex: 0 1 400px; }
		.order__block {
				flex: 0 1 400px; }
		.order__title {
				text-align: justify;
				font-size: 50px; }
