.task {
  background-color: #fefff7;
}

.tasc__subtitle {
  margin-bottom: 40px;
}

.task__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}

.task__card {
  flex: 0 0 25%;
  margin: 0 20px;
}
.task__card .card__pic {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}
.task__card .card__desc {
  text-align: center;
}