.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.header .header__menu {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.menu__link {
  position: relative;
  padding: 5px 0 8px;
  transition: all linear 0.3s;
}
.menu__link:after {
  content: "";
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffd4;
  transition: all linear 0.5s;
}
.menu__link:hover {
  color: #ffffd4;
}
.menu__link:hover:after {
  width: 100%;
}

.header_active {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.85);
}