.repair-wrapper{
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
}
.repair{
    margin-bottom: 30px;
}
.repair__title{
    width: 60%;
    text-align: center;
    margin: 50px auto 60px;
}
.repair__title-title{
    text-transform: uppercase;
    font-size: 46px;
    margin-bottom: 70px;
}
.repair__title-text{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 50px;
}
.repair__title-subtitle{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.repair__props{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.repair__prop{
    flex: 1 1 33.3333%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 50px;
}
.repair__prop-title{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}
.repair__prop .repair__prop-text{
    text-align: center;
    font-size: 16px;
}
.repair__prop-text{
    font-size: 16px;
    line-height: 28px;
}
.repair__prop-pic{
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}
.repair__prop-wrapper{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.repair__prop-list{
    flex: 0 0 330px;
    text-align: left;
    margin: 0 auto 35px; 
}

.prop-list{
    height: 50px;
    padding-left: 60px;
    position: relative;
    margin-bottom: 35px;
}
.repair__prop-list:last-of-type{
    margin-bottom: 0;
}
.prop-list-icon{
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
}



.prop-price_title{
    margin-bottom: 10px;
}

.prop-price_value{
    text-align: center;
    font-size: 22px;
}


.repair__info-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.repair-form .form__title{
    font-size: 24px;
}
.repair-form{
    flex: 1 0 50%;
    padding-right: 10px;
}
.repair-pic{
    flex: 1 0 50%;

}
