
@media (min-width: $mobile) and (orientation: portrait){

.container-menu-photography{

  width: 100vw;
  
}  
  
.main {

  width: 100%;
  display: grid;
  grid-template-rows: 500px 500px 500px;
  grid-template-columns: 100% 100% 100%;
  grid-template-areas:
  "area1"
  "area2"
  "area3";

}

.image-one {

  position: relative;
  grid-area: area1;
  padding-left: 30px;
  padding-right: 30px;

}

.image-one img{

   max-width: 100%;
   object-fit: cover;

}

.image-two {

  position: relative;
  grid-area: area2;
  padding-left: 30px;
  padding-right: 30px;


}

.image-two img{

   max-width: 100%;
   object-fit: cover;

}

.image-three {

  position: relative;
  grid-area: area3;
  padding-left: 30px;
  padding-right: 30px;


}

.image-three img{

   max-width: 100%;
   object-fit: cover;

}

.image-one:hover {

   filter: opacity(.5);

}

.image-two:hover {

   filter: opacity(.5);

}

.image-three:hover {

   filter: opacity(.5);

}

.main-title{

     width: 100%;
     font-size: 0.9em;
     color: $sixth-color;
     font-weight: bold;
     padding-top: 60px;
     padding-bottom: 60px;
     text-align: center;

}

.text {

  color: white;
  font-size: 1.9em;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  position: absolute;
  display: none;

}

.text-photography{
     
     width: 100%;
     font-size: 0.8em;
     color: $ninth-color;
     padding-top: 1em;
     padding-bottom: 3em;
     padding-left: 0px;
     font-weight: 600;
     
}

}

@media (min-width: $tablet) and (orientation: portrait){

.container-menu-photography{

  width: 100vw;
  
}  
 
.main {

  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 850px 850px 850px;
  grid-template-columns: 100% 100% 100%;
  grid-template-areas:
  "area1"
  "area2"
  "area3";

}

.image-one {

  position: relative;
  grid-area: area1;
  padding-left: 50px;
  padding-right: 50px;

}

.image-one img{

   max-width: 100%;
   object-fit: cover;

}

.image-two {

  position: relative;
  grid-area: area2;
  padding-left: 50px;
  padding-right: 50px;


}

.image-two img{

   max-width: 100%;
   object-fit: cover;

}

.image-three {

  position: relative;
  grid-area: area3;
  padding-left: 50px;
  padding-right: 50px;


}

.image-three img{

   max-width: 100%;
   object-fit: cover;

}

.main-title{

     width: 100%;
     font-size: 1.1em;
     color: $sixth-color;
     font-weight: bold;
     padding-top: 60px;
     padding-bottom: 60px;
     text-align: center;

}

.text {
  
  color: $sixth-color;
  font-size: 1.9em;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  position: absolute;
  display: none;

}

.text-photography{
     
     width: 100%;
     font-size: 1em;
     color: $ninth-color;
     padding-top: 1em;
     padding-bottom: 3em;
     font-weight: 600;
     
}

}

@media (min-width: $laptop) and (orientation: landscape){

.main {

       width: 100%;
       display: flex;
       flex-direction: column;
       align-content: center;
       align-items: center;
       padding-bottom: 30px;
       z-index: 10000;
       background: $seventh-color;
       display: none;

}

.main-title{

     width: 100%;
     max-width: 480px;
     font-size: 0.9em;
     color: $sixth-color;
     font-weight: bold;
     padding-top: 60px;
     text-align: center;
     display: none;

}

.main-photography{

     width: 100%;
     max-width: 480px;
     padding-top: 60px;
     padding-left: 30px;
     padding-right: 30px;
     display: none;

}

.main-photography:hover{

     filter: opacity(.5);
     display: none;

}

.text-photography{
     
     width: 100%;
     max-width: 480px;
     font-size: 0.8em;
     color: $ninth-color;
     padding-top: 1em;
     padding-left: 30px;
     display: none;
     
}

}

@media (min-width: $desktop) and (orientation: landscape){

.main {

       width: 100%;
       display: flex;
       flex-direction: column;
       align-content: center;
       align-items: center;
       padding-bottom: 30px;
       z-index: 10000;
       display: none;

}

.main-title{

     width: 100%;
     max-width: 480px;
     font-size: 0.9em;
     color: $sixth-color;
     font-weight: bold;
     padding-top: 60px;
     text-align: center;
     display: none;

}

.main-photography{

     width: 100%;
     max-width: 480px;
     padding-top: 60px;
     padding-left: 30px;
     padding-right: 30px;
     display: none;

}

.main-photography:hover{

     filter: opacity(.5);
     display: none;

}

.text-photography{
     
     width: 100%;
     max-width: 480px;
     font-size: 0.8em;
     color: $ninth-color;
     padding-top: 1em;
     padding-left: 30px;
     display: none;
     
}

}
