
/* background color goes here */

$first-color:#000;
$second-color:#fff;
$third-color:#f9f9f9;
$fourth-color:#222222;
$fifth-color:#FBFBFB;
$sixth-color:#F5F5F7;
$seventh-color:#131313;
$eighth-color:#878787;
$ninth-color:#717171;

/* media query goes here */

$mobile: 320px;
$tablet: 768px; 
$laptop: 1024px;
$desktop: 1281px; 

