.scheme {
  padding: 100px 0 80px; }
  .scheme__title {
    margin-bottom: 35px;
    text-align: center; }
  .scheme__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; }
  .scheme__card {
    flex: 0 0 170px;
    margin: 0 30px 25px;
    border-radius: 10px;
    position: relative; }
    .scheme__card:after {
      content: '';
      display: block;
      position: absolute;
      right: -35px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 10px;
      height: 100%;
      background-image: url(../../assets/img/arrow_right.png);
      background-repeat: no-repeat;
      background-position: center 30px;
      background-size: contain; }
    .scheme__card:last-child:after {
      width: 0; }
    .scheme__card-img {
      display: block;
      margin: 0 auto 15px;
      width: 70px;
      height: 70px;
      object-fit: cover; }
    .scheme__card-desc {
      font-size: 18px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 20px; }
    .scheme__card-text {
      font-size: 14px;
      text-align: center;
      line-height: 20px; }
